<%= form_with(model: consultas_usuario, local: true) do |form| %>
  <% if consultas_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consultas_usuario.errors.count, "error") %> prohibited this consultas_usuario from being saved:</h2>

      <ul>
      <% consultas_usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
